.attempt-container {
  padding: 50px;
  background: #f4f6f9;
  min-height: 90vh;
}

.attempt-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.quiz-info {
  margin-bottom: 30px;
  color: #666;
}

.question-card {
  background: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.question-card h4 {
  margin-bottom: 15px;
}

.option {
  margin-bottom: 8px;
}

.option input {
  margin-right: 10px;
}

.submit-btn {
  background: #2563eb;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #1d4ed8;
}

.result-box {
  margin-top: 30px;
  padding: 20px;
  background: #dcfce7;
  border-radius: 12px;
  text-align: center;
}
.correct {
  background: #dcfce7;
}

.wrong {
  background: #fee2e2;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #dc2626;
}
