.create-quiz-container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

.create-quiz-container input,
.create-quiz-container textarea,
.create-quiz-container select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.question-box {
  background: #f4f6f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.add-btn {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
}

.submit-btn {
  background: #1e2a38;
  color: white;
  padding: 10px 20px;
  border: none;
}

.remove-btn {
  background: red;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
}
