.navbar {
  height: 70px;               /* Bigger */
  background-color: #1e2a38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 22px;            /* Bigger logo */
  font-weight: 600;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 35px;                  /* More spacing */
  margin: 0;
}

.navbar-links li {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.navbar-links li:hover {
  color: #4da3ff;
}

.navbar-logout {
  background-color: #ff4d4d;
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.navbar-logout:hover {
  background-color: #e60000;
}
.navbar-user {
  margin-left: 20px;
  font-size: 14px;
  color: #cbd5e1;
}
